<%- include('./partials/head')  %>
<body>

    <header class="cabecalho">
        <nav class="cabecalho-menu">
            <a class="cabecalho-menu-item" href="pag005.html">Como vai ser feito?</a>
            <a class="cabecalho-menu-item" href="pag006.html">Quais são as principais referências?</a>
            <a class="cabecalho-menu-item" href="pag007.html">Decisões de design</a>
        </nav>

    </header>

    <main class="conteudo">
        <section class="conteudo-principal">
            <div class="conteudo-principal-escrito">
                <h1 class="conteudo-principal-escrito-titulo">Samples.project</h1>
                <h2 class="conteudo-principal-escrito-subtitulo">A sua biblioteca virtual de samples. Descubra músicas sampleadas por grandes artistas!</h2>
                <a href="pag003.html"><button class="conteudo-principal-escrito-botao">O que é um sample?</button></a>
            </div>
            <img class="conteudo-principal-imagem" src="imagens/logo.svg" alt="Logo do Samples.project">
        </section>

        <section class="conteudo-secundario">
            <h3 class="conteudo-secundario-titulo">Alguns exemplos de samples utilizados em músicas</h3>
            <p class="conteudo-secundario-paragrafo">Música original: All I need</p>
            <p class="conteudo-secundario-paragrafo">Artista: <strong><a href="https://en.wikipedia.org/wiki/Lee_Fields" target="_blank">Lee Fields</a></strong></p>
            <p class="conteudo-secundario-paragrafo">Música que utiliza o sample: Antidote</p>
            <p class="conteudo-secundario-paragrafo">Artista: <strong><a href="https://pt.wikipedia.org/wiki/Travis_Scott" target="_blank">Travis Scott</a></strong></p>
            <p class="conteudo-secundario-paragrafo">Produtores responsáveis pela manipulação do sample: <strong><a href="https://en.wikipedia.org/wiki/WondaGurl" target="_blank">Wondagurl</a></strong> e <strong><a href="https://everipedia.org/wiki/lang_en/eestbound" target="_blank">Eestbound</a></strong></p>
            <audio src="audios/sample_1.mp3" controls autoplay ></audio>
            <br>
            <p class="conteudo-secundario-paragrafo">Música original: More Spell On You</p>
            <p class="conteudo-secundario-paragrafo">Artista: <strong><a href="https://pt.wikipedia.org/wiki/One_More_Time_(can%C3%A7%C3%A3o_de_Daft_Punk)" target="_blank">Eddie Johns</a></strong></p>
            <p class="conteudo-secundario-paragrafo">Música que utiliza o sample: One More Time</p>
            <p class="conteudo-secundario-paragrafo">Artista: <strong><a href="https://pt.wikipedia.org/wiki/Daft_Punk" target="_blank">Daft Punk</a></strong></p>
            <p class="conteudo-secundario-paragrafo">Produtores responsáveis pela manipulação do sample: <strong><a href="https://pt.wikipedia.org/wiki/Daft_Punk" target="_blank">Daft Punk</a></strong></p>
            <audio src="audios/sample_3.mp3" controls autoplay ></audio>
            <br>
            <p class="conteudo-secundario-paragrafo">Música original: Inside the Crashed Space Pirate Frigate</p>
            <p class="conteudo-secundario-paragrafo">Artista: <strong><a href="https://pt.wikipedia.org/wiki/Kenji_Yamamoto_(desambigua%C3%A7%C3%A3o)" target="_blank">Kenji Yamamoto</a></strong></p>
            <p class="conteudo-secundario-paragrafo">Música que utiliza o sample: Love Scars</p>
            <p class="conteudo-secundario-paragrafo">Artista: <strong><a href="https://pt.wikipedia.org/wiki/Trippie_Redd" target="_blank">Trippie Redd</a></strong></p>
            <p class="conteudo-secundario-paragrafo">Produtores responsáveis pela manipulação do sample: <strong><a href="https://everipedia.org/wiki/lang_en/elliott-trent" target="_blank">Elliott Trent</a></strong></p>
            <audio src="audios/sample_2.mp3" controls autoplay ></audio>
            <h3 class="conteudo-secundario-titulo"><a href="pag004.html">O que é o projeto Samples?</a></h3>
        </section>
    </main>

    <footer class="rodape">
        <a class="rodape-item" href="pag001.html" rel="next"><i>Para verificar a validação das páginas, clique aqui</i></a>
    </footer>
</body>
</html>