<%- include('./partials/head') %>
<body>
    <main class="conteudo">
        <section class="conteudo-secundario">
            <h3 class="conteudo-secundario-titulo">Decisões de design</h3>
            <p class="conteudo-secundario-paragrafo">Principais aspectos de design do projeto Samples
                <ul>
                    <p>O site utiliza layout híbrido, o que contribui para o ocultamento das áreas vazias do site e um melhor aproveitamento de tela</p>
                    <p>O site utiliza flexbox para uma melhor organização dinâmica dos elementos da página</p>
                    <p>Os áudios mostram a transição da música original para a música que utiliza o sample (demonstrando os cortes, repetições, novos arranjos, maior ou menor tom/bpm, etc).</p>
                </ul></p>
        </section>
    </main>
</body>
</html>