<%- include('./partials/head') %>
<body>
    <main class="conteudo">
        <section class="conteudo-secundario">
            <h3 class="conteudo-secundario-titulo">O que é o projeto Samples?</h3>
            <p class="conteudo-secundario-paragrafo">A ideia do projeto é voltada à criação de uma biblioteca virtual (em forma de site) expondo samples que foram utilizados em músicas populares, incluindo dados como o ano de lançamento da música original (aquela da qual foi retirada a amostra), quem foi o produtor/artista responsável pela manipulação do sample, ano de lançamento da música que utiliza o sample, etc.</p>
        </section>
    </main>
</body>
</html>