<%- include('./partials/head') %>
<body>
    <main class="conteudo">
        <section class="conteudo-secundario">
            <h3 class="conteudo-secundario-titulo">Validação das páginas</h3>
            <p class="conteudo-secundario-paragrafo"><table>
                <tr>
                    <th>Página</th>
                    <th colspan="4">Status</th>
                </tr>
                <tr>
                    <td>index.html</td>
                    <td>The type attribute on the ul element is obsolete (use CSS instead)</td>
                    <td>Element p not allowed as child of element ul in this context (Suppressing further errors from this subtree)</td>
                    <td>Element p not allowed as child of element ul in this context (Suppressing further errors from this subtree)</td>
                    <td>Element p not allowed as child of element ul in this context (Suppressing further errors from this subtree)</td>
                </tr>
                <tr>
                    <td>pag002.html</td>
                    <td>Element p not allowed as child of element i in this context (Suppressing further errors from this subtree)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>pag003.html</td>
                    <td>Element p not allowed as child of element ul in this context (Suppressing further errors from this subtree)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <p class="conteudo-secundario-paragrafo"><i>Todos os erros exibidos na tabela acima já foram resolvidos</i></p></p>
        </section>
    </main>
</body>
</html>