<%- include('./partials/head') %>
<body>
    <main class="conteudo">
        <section class="conteudo-secundario">
            <h3 class="conteudo-secundario-titulo">Como vai ser feito?</h3>
            <p class="conteudo-secundario-paragrafo">O projeto (criado na disciplina de Programação Web I) será construído através de HTML5 e CSS3, utilizando ferramentas de ambas as linguagens. Também poderá incluir JavaScript e banco de dados.</p>
        </section>
    </main>
    <!--<main class="conteudo">
        <section class="conteudo-principal">
            <div class="conteudo-principal-escrito">
                <h1 class="conteudo-principal-escrito-titulo">Como vai ser feito?</h1>
                <h2 class="conteudo-principal-escrito-subtitulo">O projeto (criado na disciplina de Programação Web I) será construído através de HTML5 e CSS3, utilizando ferramentas de ambas as linguagens. Também poderá incluir JavaScript e banco de dados.</h2>
            </div>
        </section>
    </main>-->
</body>
</html>