<%- include('./partials/head') %>
<body>
    <main class="conteudo">
        <section class="conteudo-secundario">
            <h3 class="conteudo-secundario-titulo">Quais são as principais referências?</h3>
            <p class="conteudo-secundario-paragrafo">Principais referência do projeto Samples
                <ul>
                    <li><p class="conteudo-secundario-paragrafo"><a href="https://www.tracklib.com/" target="_blank">Site</a>/<a href="https://www.youtube.com/channel/UCshyO4oCfROUZ6-6RccfKOg" target="_blank">Canal</a> do YouTube Tracklib</p></li>
                    <li><p class="conteudo-secundario-paragrafo"><i>Se você quiser saber mais sobre o serviço Tracklib, clique <a href="/tracklib" rel="next">aqui</a></i></p></li>
                    <li><p class="conteudo-secundario-paragrafo"><a href="https://www.youtube.com/channel/UCerm0xrYv04HvPd_G5ZLN0w" target="_blank" >Canal</a> do YouTube Mass Appeal</p></li>
                </ul></p>
                <p class="conteudo-secundario-paragrafo"><i>Para voltar à página anterior, clique <a href="/" rel="prev">aqui</a></i></p>
        </section>
    </main>
</body>
</html>