<%- include('./partials/head') %>
<body>
    <main class="conteudo">
        <section class="conteudo-secundario">
            <h3 class="conteudo-secundario-titulo">O que é um sample?</h3>
            <p class="conteudo-secundario-paragrafo">Na música, a amostragem (sample) é a reutilização de uma parte de uma gravação de som em outra gravação. As amostras/samples podem incluir elementos como ritmo, melodia, fala, sons ou compassos inteiros de música e podem ser sobrepostas, equalizadas, aceleradas ou desaceleradas, repetidas, em loop ou manipuladas de outra forma.</p>
            <p class="conteudo-secundario-paragrafo"><i>Para voltar à página anterior, clique <a href="/" rel="prev">aqui</a></i></p>
        </section>
    </main>
</body>
</html>