<%- include('./partials/head') %>
<body>
    <main class="conteudo">
        <section class="conteudo-secundario">
            <h3 class="conteudo-secundario-titulo">Tracklib</h3>
            <p class="conteudo-secundario-paragrafo">Tracklib é um serviço de música que permite aos produtores fazer amostras de músicas originais e liberar as amostras para uso oficial. A plataforma foi fundada com o objetivo de resolver questões legais e éticas em torno de samples e autorizações musicais.</p>
            <p class="conteudo-secundario-paragrafo"><i>Para voltar à página anterior, clique <a href="/referencias" rel="prev">aqui</a></i></p>
        </section>
    </main>
</body>
</html>